.floating-balls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }
  
  .ball {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    animation: float 10s infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0) translateX(-50vw);
    }
    50% {
      transform: translateY(-20vh) translateX(70vw);
    }
    100% {
      transform: translateY(0) translateX(-50vw);
    }
  }