.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
}

.navbar button {
  background: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 1rem;
  color: gray;
}

.navbar button:hover {
  text-decoration: underline;
}
