.container {
  height: 500vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: transform 1.5s ease-in-out;
  transition-delay: 0.2s;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #0d031f, #3a3a6b, #0b142b),
    url("../../public/image.png");
  background-blend-mode: overlay;
  background-size: contain;
}
