.App {
  background-color: red;
  text-align:center;
}

.App-header {
  background-color: green;
  text-align: right;
  color: white;
  font-size: larger;
}

.App-link {
  color: black;
  font-size: larger;
}
.App-sidebar{
  background-color: blue;
  position: inherit;
  z-index: 10;
}
